*.iml
.idea/

target/
out/
input.zip
input/
output/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.swp
*.log
*~

*.db

### Gradle ###
.gradle
build/

### Gradle Patch ###
**/build/