<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="cloud">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                    <includeTraceId>true</includeTraceId>
                    <includeSpanId>true</includeSpanId>
                    <includeLevel>true</includeLevel>
                    <includeThreadName>true</includeThreadName>
                    <includeMDC>true</includeMDC>
                    <includeLoggerName>true</includeLoggerName>
                </layout>
            </encoder>
        </appender>

        <!-- Suppress INFO logs from the GTFS validator tables to reduce noise -->
        <logger name="org.mobilitydata.gtfsvalidator.table" level="WARN" additivity="false" />
        <!-- Suppress Spring Boot startup noise -->
        <logger name="org.springframework.boot" level="WARN" />
        <logger name="org.springframework.context" level="WARN" />
        <logger name="org.springframework.beans.factory" level="WARN" />
        <logger name="org.apache.catalina" level="WARN" />
        <logger name="org.apache.coyote" level="WARN" />
        <logger name="org.apache.tomcat" level="WARN" />
        <logger name="org.springframework.web" level="WARN" additivity="false" />
        <logger name="com.google.cloud.spring.core" level="WARN" />
        <logger name="com.google.cloud.spring.autoconfigure" level="WARN" />

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON" />
        </root>
    </springProfile>
</configuration>