body {
    font-family: Arial, sans-serif;
}
h2 {
    width:100%;
    padding:15px;
    position:relative;
    border-radius:5px;
}

.severity-error {
    background: #f7a7a3;
}

.severity-warning {
    background: #ffd48a;
}

.severity-info {
    background: #ebebeb;
}

.severity-unknown {
    background: #fff;
}

pre { background: #ddd; }
