/* Validator  */

body {
    font-family: Arial, sans-serif;
}
h2 {
    width:100%;
    padding:15px;
    position:relative;
}

button {
    color: #fff;
    background-color: #909090;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

.severity-error {
    background: #f7a7a3;
}

.severity-warning {
    background: #ffd48a;
}

.severity-info {
    background: #ebebeb;
}

.severity-unknown {
    background: #fff;
}

pre { background: #ddd; }

.trip-id {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
}

/* Form */
h1 {
    width:50%;
    margin:20px auto;
    padding:30px;
    position:relative;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
}

form.table-like {
    display: table;
}

div.row-like {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

