@import 'components/markdown';

.input-control {
  @apply bg-white
    border border-black/60
    h-12
    shadow-inner
    px-3 py-2;

  @apply disabled:border-black/50;
    disabled:opacity-50
}

.focus-ring {
  @apply
    focus-visible:outline-none
    focus-visible:ring-4
    focus-within:ring-4
    active:ring-4
    ring-mobi-purple/50;
}

.deprecated-tag {
  font-weight: bold;
  @apply
    bg-mobi-purple/10
    border border-mobi-dark-blue/75
    text-mobi-dark-blue/80
    rounded
    px-2
    py-1;
}
