name: End to end

on:
  push:
    branches: [ master,  always-generate-validation-report] #<-- replace transport-agency-name by the name of the agency/publisher

jobs:
  run-on-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Prepare version name
        id: prep
        run: |
          VERSION_TAG=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION_TAG=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION_TAG=-$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION_TAG=-pr-${{ github.event.number }}
          fi
          if [ ${VERSION_TAG} != ${GITHUB_REF#refs/tags/} ]; then
            VERSION_TAG=v${VERSION_TAG}-sha-${GITHUB_SHA::8}-SNAPSHOT
          fi
          echo ::set-output name=versionTag::${VERSION_TAG}
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Package cli app jar with Gradle
        uses: eskatos/gradle-command-action@v1
        env:
          versionTag: ${{ steps.prep.outputs.versionTag }}
        with:
          arguments: shadowJar

      #- name: Validate dataset from -- ACRONYM #<-- uncomment this line, replace ACRONYM by the name of the agency/publisher acronym
      #  run: java -jar application/cli-app/build/libs/*.jar --url DATASET_PUBLIC_URL --input [[[ACRONYM]]].zip --extract pathToExtractedZipContent --output validationResultDirectory #<-- uncomment this line,
#replace ACRONYM and [[[ACRONYM]]] by the agency/publisher acronym. Also replace DATASET_PUBLIC_URL by a public link to a GTFS Schedule zip archive
      - name: Validate dataset from -- SMART
        run: java -jar application/cli-app/build/libs/*.jar --url http://transitfeeds.com/p/sonoma-marin-area-rail-transit/1050/20200930/download --input smart.zip --extract input --output output
      # STM out until #474 is closed
      - name: Validate dataset from -- STM
        run: java -jar application/cli-app/build/libs/*.jar -u https://openmobilitydata.org/p/societe-de-transport-de-montreal/39/latest/download -i stm.zip -e input -o output
      - name: Validate dataset from -- MBTA
        run: java -jar application/cli-app/build/libs/*.jar --url https://cdn.mbta.com/MBTA_GTFS.zip --input mbta.zip --extract input --output output
      - name: Validate dataset from issue 379 -- Bay Area Rapid Transit
        run: java -jar application/cli-app/build/libs/*.jar --url http://www.bart.gov/dev/schedules/google_transit.zip --input bart.zip --extract input --output output
      - name: Validate dataset from issue 399 -- Monterey-Salinas Transit
        run: java -jar application/cli-app/build/libs/*.jar --url http://www.mst.org/google/google_transit.zip --input mst.zip --extract input --output output
      - name: Validate dataset from issue 398 -- Orange County Transportation Authority
        run: java -jar application/cli-app/build/libs/*.jar --url https://octa.net/current/google_transit.zip --input octa.zip --extract input --output output
      - name: Validate dataset from issue 400 -- Siskiyou Transit and General Express
        run: java -jar application/cli-app/build/libs/*.jar --url http://transitfeeds.com/p/siskiyou-transit-and-general-express/492/latest/download --input stge.zip --extract input -output output
      - name: Persist datasets
        uses: actions/upload-artifact@v2
        with:
          name: dataset_all
          path: ./*.zip
      - name: Persist reports
        uses: actions/upload-artifact@v2
        with:
          name: validation_report_all
          path: output
