name: End to end

on:
  push:
    branches: [ master ]
    #branches: [ master, your-prbranch ]

jobs:
  run-on-data:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Package jar with Gradle
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: shadowJar
      #- name: Validate dataset from -- [[[ACRONYM]]]
      #  run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_cli.jar -u [[[DATASET_PUBLIC_URL]]] -i [[[ACRONYM]]].zip -e input -o output
      - name: Validate dataset from -- MBTA
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_cli.jar -u https://cdn.mbta.com/MBTA_GTFS.zip -i mbta.zip -e input -o output
      - name: Validate dataset from issue 399 -- Monterey-Salinas Transit
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_cli.jar -u http://www.mst.org/google/google_transit.zip -i mst.zip -e input -o output
      - name: Validate dataset from issue 398 -- Orange County Transportation Authority
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_cli.jar -u https://octa.net/current/google_transit.zip -i octa.zip -e input -o output
      - name: Persist datasets
        uses: actions/upload-artifact@v2
        with:
          name: dataset_all
          path: ./*.zip
      - name: Persist reports
        uses: actions/upload-artifact@v2
        with:
          name: validation_report_all
          path: output
