name: End to end

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run validator on STM data
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT.jar -u http://www.stm.info/sites/default/files/gtfs/gtfs_stm.zip -i input.zip -e input -o output -abort_on_error false
      - name: Run validator on MBTA data
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT.jar -u https://cdn.mbta.com/MBTA_GTFS.zip -i input.zip -e input -o output -abort_on_error false
