name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run test
        run: ./gradlew testReport
      - name: Package jar with Gradle
        run: ./gradlew shadowJar
      - name: Run validator on MBTA data
        run: java -jar application/cli-app/build/libs/gtfs-validator-v1.2.1-SNAPSHOT.jar -u https://transitfeeds.com/p/mbta/64/20200531/download -i input.zip -e input -o output
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: v1.2.1-SNAPSHOT
          path: |
            /home/runner/work/gtfs-validator/gtfs-validator/build/reports/allTests/
            /home/runner/work/gtfs-validator/gtfs-validator/application/cli-app/build/libs/gtfs-validator-v1.2.1-SNAPSHOT.jar

