name: Test Package Document

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Run Java tests
        run: ./gradlew testReport
      - name: Run JS tests
        run: ./gradlew uiTest
      - name: Persist Java tests reports
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_java_test_report
          path: build/reports/allTests/
      - name: Persist JS tests report
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_js_test_report
          path: application/web-app/react-client/test-reports/

  pack:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Package cli app jar with Gradle
        run: ./gradlew shadowJar
      - name: Package web app war with Gradle
        run: ./gradlew bootWar
      - name: Persist cli app jar
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_cli
          path: application/cli-app/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_cli.jar
      - name: Persist web app war
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_web
          path: application/web-app/spring-server/build/libs/gtfs-validator-v1.3.0-SNAPSHOT_web.war

  doc:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Generate Javadoc
        run: ./gradlew aggregateJavadocs
      - name: Persist javadoc
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_javadoc
          path: build/docs/javadoc/
      - name: Generate jsdoc
        run: cd ./application/web-app/react-client/src && jsdoc . -r
      - name: Persist jsdoc
        uses: actions/upload-artifact@v2
        with:
          name: v1.3.0-SNAPSHOT_jsdoc
          path: application/web-app/react-client/out/

