name: Test Package Document

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ prereleased, released ]

jobs:
  validate_gradle_wrapper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/actions/wrapper-validation@v4
  test:
    needs: [ validate_gradle_wrapper ]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: [ '17' ]
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'zulu'
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Run tests on Java ${{ matrix.java_version }} and ${{ matrix.os }}
        uses: gradle/actions/setup-gradle@v4
      - name: Continue on test report
        run: ./gradlew testAggregateTestReport --continue

      - name: Persist aggregated test reports on failure - Java ${{ matrix.java_version }} on ${{ matrix.os }}
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: Test report - Java ${{ matrix.java_version }} on ${{ matrix.os }}
          path: build/reports/tests/unit-test/aggregated-results/

  package:
    needs: [test]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: [ '17' ]
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'zulu'
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Package cli app jar with Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Produce shadowJar
        run: ./gradlew shadowJar

      - name: Persist cli app jar
        uses: actions/upload-artifact@v4
        with:
          name: Application - CLI executable - Java ${{ matrix.java_version }} JAR file -- ${{ matrix.os }}
          path: cli/build/libs/gtfs-validator-*-cli.jar

  doc:
    needs: [test]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: [ '17' ]
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'zulu'
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Setup Javadoc build
        uses: gradle/actions/setup-gradle@v4
      - name: Build Javadoc
        run: ./gradlew aggregateJavadoc
      - name: Persist javadoc
        uses: actions/upload-artifact@v4
        with:
          name: Documentation - javadoc - Java ${{ matrix.java_version }} - ${{ matrix.os }}
          path: build/docs/javadoc/