name: Web application release process

on:
  release:
    types: [ released ]

jobs:

  web_pipeline:
    name: Build and deploy web application
    runs-on: ubuntu-latest

    env:
      ENV_NAME              : prd
      CLOUDSDK_CORE_PROJECT : web-based-gtfs-validator

    steps:

      - uses: actions/checkout@v3
        with:
          # We need to download all tags so that the axion-release-plugin
          # can resolve the most recent version tag.
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          # We need a recent version of Java with jpackage included.
          java-version: '17'
          # We use the zulu distribution, which is an OpenJDK distro.
          distribution: 'zulu'

      # for npm
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: google-github-actions/setup-gcloud@v0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: run pipeline
        shell: bash
        run: |
          ENV_FILE=web/pipeline/${ENV_NAME}.env source web/pipeline/env-file.sh
          ./gradlew webCD
